.profile {
  width: 400px;
  height: auto;
  position: absolute;
  right: 8%;
  top: 8%;
  border-radius: 50%;
  flex-wrap: wrap;
  opacity: 90%;
  border: 2px solid white;
  margin-top: 8%;
}
body{
  background-color: #000000;
}
h1 {
  font-size: 110px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  transition: transform 0.3s ease-in-out;
  color: #ffffff;
  margin-left: 80px;
  text-shadow: 6px 4px rgb(28, 28, 123);
}
.multitext {
  font-size: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #ffffff;
  /* line-height: 0px; */
  text-shadow: 2px 2px rgb(28, 28, 123);
  margin-left: 7px;
}
.txt {
  margin-left: 15%;
}
.about{
  margin-top: 25%;
}


.socialacc {
  margin: 5%  41%;
}
.mama{
  color: white;
}
.mama:hover {
  text-decoration: underline solid white 50%;
  text-decoration-thickness: 2px;
  text-underline-offset: 8px;
  color: grey;
  transition: 0.5s;
}
.mama:active {
  color: grey;
}
body {
  background-color: #000000;
}
.sticky {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: rgb(35, 33, 33);
  background: transparent;
  padding-right: 2cm;
}