.profile{
    width: 400px;
    height: auto;
    position: absolute;
    right: 8%;
    top: 8%;
    border-radius: 50%;
    flex-wrap: wrap;
    opacity: 90%;
    border: 5px solid #aaadaf65;
}
h1{
    font-size: 110px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: transform 0.3s ease-in-out;
    /* Create a conic gradient. */
  /* Double percentages to avoid blur (#000 10%, #fff 10%, #fff 20%, ...). */
  background: linear-gradient(to right, #b5babc34 ,  #abb4b47e,  #8b8e8f4a ,  #68676d4f ,#8e91929a, #45474865,#908f92,#3b3d3dd7 );
  
  /* Set thee background size and repeat properties. */
  background-size: 57%;
  background-repeat: repeat;
  
  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  
  /* Animate the text when loading the element. */
  /* This animates it on page load and when hovering out. */
  animation: rainbow-text-animation-rev infinite;

  cursor: pointer;
  margin-left: 80px;
}
h1:hover{
    text-shadow: 0px 0px 1px #d9edf45b ;
}

.tank{
    background-color: #000000ec;
}
@keyframes rainbow-text-animation {
    0% {
      background-size: 47%;
      background-position: 0 0;
    }
    20% {
      background-size: 47%;
      background-position: 0 1em;
    }
    100% {
      background-size: 100%;
      background-position: -9em 1em;
    }
  }
button{
    background-color: #595a5f82; /* Green */
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 26px;
    border-radius: 80px;
    transition: transform .3s ease-in-out;
    margin-left: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 200px;
}
button:hover{
    transform: scale(1.45);
}
.cool{
  font-size: 60px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #474e567b;
  line-height: 0px;
  margin-left: 10%;
  text-shadow: 2px 2px #ffffff ;
}
.multitext{
  font-size: 60px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #757c7e;
  line-height: 0px;
  text-shadow: 2px 2px #ffffff;
}
#myself{
  font-size: 30px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  margin: auto;
}
.top{
  text-align: center;
}
.back{
  margin: 5.3cm 3cm 1cm 1cm;
  width: fit-content;
}
.back:hover{
  background-color: grey;
  width: 55px;
  border-radius: 50%;
  opacity: 70%;
}
.contact,.proj{
  text-align: center;
  margin-top: 15%;
}
.socialacc{
  margin-left: 40%;
}
.socio{
  color: #ffffff;
}
.socio:hover{
  color: grey;
}
.note{
  font-size: 30px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  margin: auto;
}