.profile{
    width: 400px;
    height: auto;
    position: absolute;
    right: 8%;
    top: 8%;
    border-radius: 50%;
    flex-wrap: wrap;
    transition: transform .3s ease-in-out;
    opacity: 90%;
}
h1{
    font-size: 110px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: transform 0.3s ease-in-out;
    /* Create a conic gradient. */
  /* Double percentages to avoid blur (#000 10%, #fff 10%, #fff 20%, ...). */
  background: linear-gradient(to right, #caf0f8 ,  #90e0ef , #0096c7,  #0077b6 ,  #1b01df ,#0077b6, #0096c7,#90e0ef,#caf0f8 );
  
  /* Set thee background size and repeat properties. */
  background-size: 57%;
  background-repeat: repeat;
  
  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  
  /* Animate the text when loading the element. */
  /* This animates it on page load and when hovering out. */
  animation: rainbow-text-animation-rev 0.3s ease forwards;

  cursor: pointer;
  margin-left: 80px;
}
h1:hover{
    transform: scale(1.1);
    animation: rainbow-text-animation 0.5s ease forwards;
}

.tank{
    background: linear-gradient(to right,#0d1b2a,#1b263b, #415a77, #778da9,#e0e1dd);
}
@keyframes rainbow-text-animation {
    0% {
      background-size: 47%;
      background-position: 0 0;
    }
    20% {
      background-size: 47%;
      background-position: 0 1em;
    }
    100% {
      background-size: 100%;
      background-position: -9em 1em;
    }
  }
button{
    background-color: #041456c4; /* Green */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 26px;
    border-radius: 80px;
    transition: transform .3s ease-in-out;
    margin-left: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px #90e0ef;
    width: 200px;
}
button:hover{
    transform: scale(1.45);`
}
.profile:hover{
    transform: scale(1.25);

}